__Project:__ Simple DNN and CNN <br>
__Sub-prj:__ DNN Regression with Keras <br>
__Experm:__ Data Prep & Regression on Tabular Data (Big Mart Sales Pred) <br>
__Devl by:__ Amir Hossini <br>
__Dev Dat:__ Oct 8, 2021 <br>

#### Libraries

In [10]:
import os
import numpy as np
import pandas as pd
import tensorflow as tf

print(f'Tensorflow Version: {tf.__version__}')
print('Number of available GPUs: {}'.format(len(tf.config.list_physical_devices('GPU'))))

Tensorflow Version: 2.5.0
Number of available GPUs: 1

#### I/O Files & Params

In [12]:
fl_train     = './datasets/big_mart_sales/train.csv'
fl_test      = './datasets/big_mart_sales/test.csv'

excl_list    = ['Item_Identifier']
ordinal_list = ['Outlet_Location_Type']
nominal_list = ['Item_Fat_Content','Item_Type','Outlet_Identifier','Outlet_Establishment_Year','Outlet_Size','Outlet_Type']

#### Functions

In [ ]:
def config_ordinal(dataframe,columns):

#### Read In & Stats

In [25]:
train = pd.read_csv(fl_train)
test  = pd.read_csv(fl_test)

print(f'Train Size: {len(train)}')
print(f'Test Size: {len(test)}')
print('\nPercentage of missing: Train')
print(train.isna().sum()/len(train)*100)

print('\nPercentage of missing: Test')
print(test.isna().sum()/len(test)*100)

Train Size: 8523
Test Size: 5681

Percentage of missing: Train
Item_Identifier               0.000000
Item_Weight                  17.165317
Item_Fat_Content              0.000000
Item_Visibility               0.000000
Item_Type                     0.000000
Item_MRP                      0.000000
Outlet_Identifier             0.000000
Outlet_Establishment_Year     0.000000
Outlet_Size                  28.276428
Outlet_Location_Type          0.000000
Outlet_Type                   0.000000
Item_Outlet_Sales             0.000000
dtype: float64

Percentage of missing: Test
Item_Identifier               0.000000
Item_Weight                  17.180074
Item_Fat_Content              0.000000
Item_Visibility               0.000000
Item_Type                     0.000000
Item_MRP                      0.000000
Outlet_Identifier             0.000000
Outlet_Establishment_Year     0.000000
Outlet_Size                  28.269671
Outlet_Location_Type          0.000000
Outlet_Type                   0.000000
dtype: float64

#### Missing data handling

In [30]:
train.loc[train['Item_Weight'].isna(),'Item_Weight'] = train['Item_Weight'].mean()
test.loc[test['Item_Weight'].isna(),'Item_Weight'] = test['Item_Weight'].mean()

train.loc[train['Outlet_Size'].isna(),'Outlet_Size'] = 'Unknown'
test.loc[test['Outlet_Size'].isna(),'Outlet_Size'] = 'Unknown'

In [31]:
train.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [33]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Unknown,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [34]:
train['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [39]:
train['Outlet_Type'].unique()

array(['Supermarket Type1', 'Supermarket Type2', 'Grocery Store',
       'Supermarket Type3'], dtype=object)

In [ ]:
['Item_Fat_Content','Item_Type','Outlet_Identifier','Outlet_Establishment_Year','Outlet_Size','Outlet_Type']